* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  color: #fff;
}

section {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.content {
  width: 100%;
}
.content:not(:last-child) {
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 15px;
}
button {
  display: inline-block;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 300px;

}

button:hover {
  background-color: #0d8bf0;
}

.form-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-row:not(:last-child) {
  margin-bottom: 20px;
}
.form-row input {
  flex: 0 1 49%;
  margin-bottom: 10px;
}
.form-row .checkbox {
  flex: 0 1 49%
}
.form-row button {
  align-self: center;
}
input,
textarea {
  outline: none;
  background: none;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: inherit;

}
textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  overflow-x: hidden;
  margin-bottom: 20px;
}
.checkbox {
  align-self: center;
}

::placeholder {
  color: #fff;
}

:focus::placeholder {
  opacity: 0;
}

.checkbox {
  position: relative;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 16px;
}

.checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  border: 2px solid #aaa;
  border-radius: 2px;
}

.checkbox input:checked~label::before {
  border-color: #4CAF50;
  background-color: #4CAF50;
}

.checkbox label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.checkbox input:checked~label::after {
  display: block;
}

.error {
  color: red;
  border-color: red;
}

#excludeList, #copyButton{
  display: none;

}

#excludeList.toggle {
  display: block;
}